<article *ngFor="let post of posts; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
  <div class="image" [style.background-image]="'url('+(post.images? post.images[0] : '')+')'"></div>
  <div class="body">
    <h1 [innerText]="post.title"></h1>
    <div class="meta">
      By <a href="https://steemit.com/@{{post.author}}" target="_blank">{{post.author}}</a> &bull; {{post.created}} &bull; ${{post.pending_payout_value}} &bull; {{post.net_votes}} votes
    </div>
    <div class="tags" *ngIf="post.tags.length > 0">
      <a *ngFor="let tag of post.tags" href="https://steemit.com/trending/{{tag}}" target="_blank">{{tag}}</a>
    </div>
    <p [innerText]="(post.body.length > 300)? (post.body | slice:0:300)+'..': (post.body)"></p>
  </div>
</article>